<ion-content [fullscreen]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons style="padding: 3%" slot="end">
      <ion-menu-button fill="clear" color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card mode="ios">
    <p style="padding-left: 5%; padding-top: 5%">
      Per People Price : {{celebrationPrice | currency :'INR'}}
    </p>
    <ion-card-content>
      <h2 style="font-weight: bold">How many persons to donate food</h2>
    </ion-card-content>
    <ion-card-content style="margin-top: -30px">
      <ion-item lines="none">
        <ion-label>Select number of persons</ion-label>
        <ion-select (ionChange)="personVal($event)" value="5">
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="17">17</ion-select-option>
          <ion-select-option value="18">18</ion-select-option>
          <ion-select-option value="19">19</ion-select-option>
          <ion-select-option value="20">20</ion-select-option>
          <ion-select-option value="21">21</ion-select-option>
          <ion-select-option value="22">22</ion-select-option>
          <ion-select-option value="23">23</ion-select-option>
          <ion-select-option value="24">24</ion-select-option>
          <ion-select-option value="25">25</ion-select-option>
          <ion-select-option value="26">26</ion-select-option>
          <ion-select-option value="27">27</ion-select-option>
          <ion-select-option value="28">28</ion-select-option>
          <ion-select-option value="29">29</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
          <ion-select-option value="31">31</ion-select-option>
          <ion-select-option value="32">32</ion-select-option>
          <ion-select-option value="33">33</ion-select-option>
          <ion-select-option value="34">34</ion-select-option>
          <ion-select-option value="35">35</ion-select-option>
          <ion-select-option value="36">36</ion-select-option>
          <ion-select-option value="37">37</ion-select-option>
          <ion-select-option value="38">38</ion-select-option>
          <ion-select-option value="39">39</ion-select-option>
          <ion-select-option value="40">40</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label style="font-weight: bolder">Choose Date</ion-label>
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-datetime
      (ionChange)="showDate($event)"
      [pickerOptions]="customPickerOptions"
      mode="md"
      displayFormat="MM DD YY"
      min="2020"
      max="2025"
    >
    </ion-datetime>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label style="font-weight: bold">Food Type</ion-label>
  </ion-item>

  <ion-row style="padding: 5%" mode="md">
    <ion-col>
      <ion-row>
        <ion-col size="2"
          ><ion-checkbox
            (ionChange)="solid($event)"
            name="solid"
            color="light"
          ></ion-checkbox
        ></ion-col>
        <ion-col size="10"><ion-label>Solid</ion-label></ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col size="2"
          ><ion-checkbox
            (ionChange)="liquid($event)"
            color="light"
          ></ion-checkbox
        ></ion-col>
        <ion-col size="10"><ion-label>Liquid</ion-label></ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left: 5%; margin-top: -30px">
    <ion-col>
      <ion-row *ngIf="solidChecked">
        <ion-select (ionChange)="solidVal($event)" value="1">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row *ngIf="liquidChecked">
        <ion-select (ionChange)="liquidVal($event)" value="1">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-item-divider></ion-item-divider>
  <ion-row style="padding: 5%">
    <ion-col size="1">
      <ion-checkbox color="light" mode="md"></ion-checkbox>
    </ion-col>
    <ion-col size="11">
      <ion-label style="font-weight: 800"
        >I don't want to recieve whatsapp image</ion-label
      >
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <div style="padding: 5%; font-weight: 800">
    <ion-row>
      <ion-col style="font-size: small">Total People</ion-col>
      <ion-col style="font-size: small">Price per People</ion-col>
      <ion-col style="font-size: small">Your Total Price</ion-col>
    </ion-row>
    <ion-row size="5">
      <ion-col>
        <ion-row>
          <ion-col>{{personNum}}</ion-col>
          <ion-col>X</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5">{{celebrationPrice}}</ion-col>
      <ion-col size="2">{{result}}</ion-col>
    </ion-row>
  </div>
  <div>
    <ion-button
      (click)="gotoPayment()"
      style="width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 5%"
      color="warning"
      [disabled]="(date==undefined||date=='') || (solidChecked!=true && liquidChecked!=true)"
      >Donate Now</ion-button
    >
  </div>
</ion-content>
