.login-text {
    margin: 0 auto;
    font-size: x-large;
    font-family: "Times New Roman";
    margin-top: 35%;
  }
  ion-content {
    --background: #ffc409;
  }
  ion-item {
    padding-left: 10%;
    padding-right: 10%;
    --background: #ffc409;
  }
  .button {
    color: white;
    background-color: black;
    min-height: 70px;
  }
  