<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start">About</ion-title>
      <!-- <p style="font-size: x-large; padding: 5%">About</p> -->
      <ion-buttons slot="end">
        <ion-menu-button fill="clear" color="dark"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-slides [options]="slideOptions">
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog1('../../assets/tab2/10.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/10.jpg" />
          <ion-card-content style="text-align: left">
            <span>COVID-19 HELP </span>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration1()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/2.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/2.jpg" />
          <ion-card-content style="text-align: left">
            <span>COVID-19 HELP </span>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/6.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/6.jpg" />
          <ion-card-content style="text-align: left">
            <span>COVID-19 HELP </span>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/9_.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/9_.jpg" />
          <ion-card-content style="text-align: left">
            <span>COVID-19 HELP </span>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-content>
