<ion-content [fullscreen]="true">
  <ion-toolbar>
    <p style="font-size: x-large; padding: 5%">About</p>
    <ion-buttons slot="end" style="padding: 5%">
      <ion-menu-button fill="clear" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-row>
    <ion-slides [options]="slideOptions">
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/10.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/10.jpg" />
          <ion-card-content style="text-align: left">
            <span
              >COVID-19 HELP <br />
              Lorem Ipsum is a good way
            </span>
          </ion-card-content>
          <ion-card-content>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/2.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/2.jpg" />
          <ion-card-content style="text-align: left">
            <span
              >COVID-19 HELP <br />
              Lorem Ipsum is a good way
            </span>
          </ion-card-content>
          <ion-card-content>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/6.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/6.jpg" />
          <ion-card-content style="text-align: left">
            <span
              >COVID-19 HELP <br />
              Lorem Ipsum is a good way
            </span>
          </ion-card-content>
          <ion-card-content>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="slide">
        <ion-card class="card ion-activatable" mode="ios">
          <div style="position: absolute; right: 0">
            <ion-button
              (click)="openDialog('../../assets/tab2/9_.jpg')"
              fill="clear"
              ><ion-icon
                name="information-circle-outline"
                size="large"
                color="light"
              ></ion-icon
            ></ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
          <img src="../../assets/tab2/9_.jpg" />
          <ion-card-content style="text-align: left">
            <span
              >COVID-19 HELP <br />
              Lorem Ipsum is a good way
            </span>
          </ion-card-content>
          <ion-card-content>
            <ion-button
              style="width: 100%"
              (click)="gotoCelebration()"
              color="warning"
              >Donate Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-content>
