.img1 {
  height: 400px;
  width: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.text {
  position: absolute;
  left: 1;
  bottom: 20px;
  color: #ffff;
  font-weight: bold;
  font-size: small;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #fff;
  padding: 10px;
}

ion-card {
  margin: 0;
}

.slide {
  padding: 5%;
}

.card {
}
