.img1 {
  // height: 400px;
  width: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

ion-card {
  margin: 0px;
  margin-top: 3%;
  max-height: 100%;
}

.slide {
  padding: 3%;
}

