<ion-content [fullscreen]="true">
  <div>
    <img src="../../assets/profile-bg.png" alt="" />
  </div>
  <div>
    <img class="pf" src="../../assets/avatar.jpg" />
    <p class="pn">{{user.name|uppercase}}</p>
    <ion-button fill="clear" color="light" class="pencil" (click)="x=!x">
      <img src="../../assets/ic_launcher.png" alt="" />
    </ion-button>
  </div>

  <div style="margin-top: 30%; padding: 5%">
    <ion-input
      placeholder="email"
      [disabled]="x"
      value="{{user.email}}"
    ></ion-input>
    <hr style="border: 0.1px solid orange" />
    <ion-input
      placeholder="phone"
      [disabled]="x"
      value="{{user.phone}}"
    ></ion-input>
    <hr style="border: 0.1px solid orange" />
    <ion-input
      placeholder="Address"
      [disabled]="x"
      value="Bhubaneswar"
    ></ion-input>
    <hr style="border: 0.1px solid orange" />
    <ion-input
      type="password"
      [disabled]="x"
      value="xyzxyz"
      placeholder="Password"
    ></ion-input>
    <hr style="border: 0.1px solid orange" />
    <br />

    <ion-button color="dark" class="button">My Subscription Plan</ion-button>

    <div style="padding: 1%">
      <ion-label>Monthly Subscription</ion-label>
      <ion-label style="padding-left: 3%; font-size: small" color="success"
        >Expires on 20/08/2020</ion-label
      >
    </div>
    <hr style="border: 0.1px solid" />
    <br />
    <ion-button color="dark" class="button">My Give Aways</ion-button>

    <div style="padding: 1%">
      <ion-label>Monthly Subscription</ion-label>
      <ion-label style="padding-left: 3%; font-size: small" color="danger"
        >Expired </ion-label
      ><ion-label style="font-size: small">20/08/2020</ion-label>
      <br />
      <ion-label>Monthly Subscription</ion-label>
      <ion-label style="padding-left: 3%; font-size: small" color="danger"
        >Expired </ion-label
      ><ion-label style="font-size: small">20/08/2020</ion-label>
      <br />
      <ion-label>Monthly Subscription</ion-label>
      <ion-label style="padding-left: 3%; font-size: small" color="danger"
        >Expired </ion-label
      ><ion-label style="font-size: small">20/08/2020</ion-label>
    </div>
  </div>
</ion-content>
