<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="logo">
    <img src="../../../assets/logo.png" alt="" />
  </div>

  <div class="login">LOGIN</div>
  <div class="form">
    <ion-item lines="none">
      <ion-label>USERNAME</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <hr
      style="border: 0.1px solid black; margin-left: 10%; margin-right: 10%;"
    />
    <ion-item lines="none">
      <ion-label>PASSWORD</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <hr
      style="border: 0.1px solid black; margin-left: 10%; margin-right: 10%;"
    />
  </div>

  <div class="low">
    <div>
      FORGET PASSWORD?
    </div>
    <div (click)="gotoRegister()" style="margin-top: 30px;">
      NEW USER? SIGN UP
    </div>
  </div>
  <div class="lower">
    <ion-button fill="clear" class="button" (click)="gotoProfile()"
      >LOGIN<ion-icon name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </div>
</ion-content>
