<ion-content>
  <div>
    <ion-button (click)="gotoHome()" fill="clear" color="dark" style="background-color: #ffc409;">
      <ion-icon size="large" name="close-sharp"></ion-icon>
    </ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <div style="margin:0 auto;margin-top: 5%;">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </ion-row>
    <ion-row>
      <p class="login-text">LOGIN</p>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-item lines="none">
        <ion-label>EMAIL</ion-label>
        <ion-input style="width: 100%;" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-row>
    <hr
      style="border: 0.1px solid black; margin-left: 10%; margin-right: 10%;"
    />
    <ion-row>
      <ion-item lines="none">
        <ion-label>PASSWORD</ion-label>
        <ion-input style="width: 100%;" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-row>
    <hr
      style="border: 0.1px solid black; margin-left: 10%; margin-right: 10%;"
    />
    <ion-row>
      <p style="margin: 0 auto;margin-top: 10%;">FORGET PASSWORD?</p>
    </ion-row>
    <ion-row (click)="gotoRegister()">
      <p style="margin: 0 auto;margin-top: 3%;">NEW USER? SIGN UP</p>
    </ion-row>
    <ion-row>
      <div style="margin:0 auto;" *ngIf="spinner">
        <ion-spinner></ion-spinner>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-row  class="button">
    <ion-button style="margin: 0 auto;" fill="clear" [disabled]="email==''||email==undefined||password==''||password==undefined" (click)="login()"
    >LOGIN<ion-icon name="arrow-forward-outline"></ion-icon
  ></ion-button>
  </ion-row>
</ion-footer>


