<ion-content mode="ios">
  <ion-header>
    <ion-toolbar style="padding: 5%">
      <ion-buttons>
        <ion-back-button defaultHref="/" mode="md"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      <ion-title mode="ios">Donate Now</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-card style="width: 100%">
        <ion-item>
          <ion-label style="font-weight: bolder">Select Start Date</ion-label>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-datetime
            (ionChange)="showDate($event)"
            mode="md"
            displayFormat="MM DD YY"
            min="2020"
            max="2022"
          >
          </ion-datetime>
        </ion-item>
      </ion-card>
    </ion-row>
    <ion-item-divider mode="ios"></ion-item-divider>
    <ion-row>
      <ion-card mode="ios" style="width: 100%">
        <ion-card-content>
          <h2 style="font-weight: bold">How many people</h2>
        </ion-card-content>
        <ion-card-content style="margin-top: -30px">
          <ion-item lines="none">
            <ion-label>Select number of persons</ion-label>
            <ion-select (ionChange)="getPrice($event)" value="1">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
              <ion-select-option value="9">9</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="11">11</ion-select-option>
              <ion-select-option value="12">12</ion-select-option>
              <ion-select-option value="13">13</ion-select-option>
              <ion-select-option value="14">14</ion-select-option>
              <ion-select-option value="15">15</ion-select-option>
              <ion-select-option value="16">16</ion-select-option>
              <ion-select-option value="17">17</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-item-divider mode="ios"></ion-item-divider>
    <ion-item lines="none">
      <ion-label style="font-weight: bold; font-size: large"
        >Food Type</ion-label
      >
    </ion-item>

    <ion-row style="padding: 5%" mode="md">
      <ion-col>
        <ion-row>
          <ion-col size="2"
            ><ion-checkbox
              (ionChange)="solid($event)"
              name="solid"
              color="light"
            ></ion-checkbox
          ></ion-col>
          <ion-col size="10"><ion-label>Solid</ion-label></ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col size="2"
            ><ion-checkbox
              (ionChange)="liquid($event)"
              color="light"
            ></ion-checkbox
          ></ion-col>
          <ion-col size="10"><ion-label>Liquid</ion-label></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 5%; margin-top: -30px">
      <ion-col>
        <ion-row *ngIf="solidChecked">
          <ion-select value="1">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row *ngIf="liquidChecked">
          <ion-select value="1">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-item-divider mode="ios"></ion-item-divider>
    <ion-row style="padding: 5%">
      <ion-col size="1">
        <ion-checkbox color="light" mode="md"></ion-checkbox>
      </ion-col>
      <ion-col size="11">
        <ion-label style="font-weight: 800"
          >I don't want to recieve whatsapp image</ion-label
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-button
        [disabled]="(date==undefined||date=='') || (solidChecked!=true && liquidChecked!=true)"
        mode="ios"
        color="warning"
        style="width: 90%; margin: 0 auto"
        (click)="gotoPayment()"
        >CONFIRM</ion-button
      >
    </ion-row>
  </ion-grid>
</ion-content>
