<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div>
        <img class="slider" src="./../../../assets/slides/slider.png" />
      </div>
      <div style="position: absolute; bottom: 20%">
        <p style="color: white; font-size: xx-large">COVID-19 Help</p>
      </div>
      <div style="position: absolute; bottom: 15%">
        <p style="color: white; font-size: large">
          Lorem Ipsum A Good Family Six System
        </p>
      </div>
      <div style="position: absolute; bottom: 5%">
        <ion-button
          (click)="gotoApp()"
          size="large"
          color="warning"
          fill="solid"
          class="button"
          style="width: 100%"
          mode="ios"
          >Start Donating Now <ion-icon name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img class="slider" src="./../../../assets/slides/slider.png" />
      </div>
      <div style="position: absolute; bottom: 20%">
        <p style="color: white; font-size: xx-large">Relief Funds</p>
      </div>
      <div style="position: absolute; bottom: 15%">
        <p style="color: white; font-size: large">
          Lorem Ipsum A Good Family Six System
        </p>
      </div>
      <div style="position: absolute; bottom: 5%">
        <ion-button
          (click)="gotoApp()"
          size="large"
          color="warning"
          fill="solid"
          class="button"
          style="width: 100%"
          mode="ios"
          >Start Donating Now <ion-icon name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img class="slider" src="./../../../assets/slides/slider.png" />
      </div>
      <div style="position: absolute; bottom: 20%">
        <p style="color: white; font-size: xx-large">Flood Help</p>
      </div>
      <div style="position: absolute; bottom: 15%">
        <p style="color: white; font-size: large">
          Lorem Ipsum A Good Family Six System
        </p>
      </div>
      <div style="position: absolute; bottom: 5%">
        <ion-button
          (click)="gotoApp()"
          size="large"
          color="warning"
          fill="solid"
          class="button"
          style="width: 100%"
          mode="ios"
          >Start Donating Now <ion-icon name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
