<ion-content mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <!-- <ion-button color="dark" slot="end" fill="clear">
      <ion-icon size="large" name="menu"></ion-icon>
    </ion-button> -->
  </ion-toolbar>

  <div class="head">
    Choose Payment Method
  </div>

  <div style="margin-top: 5%;">
    <ion-list>
      <ion-item>
        <img src="../../../assets/Paytm_Logo.png" width="100" />
        <ion-label style="margin-left: 10%;">9937273838</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/gpay.png" width="100" />
        <ion-label style="margin-left: 10%;">9937273838</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/phonepe.png" width="100" />
        <ion-label style="margin-left: 10%;">9937273838</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <ion-button class="button" color="warning">Confirm</ion-button>
  </div>
</ion-content>
